body {
    background-image: linear-gradient(to right, #ffd89b, #19547b);
    font-family: Gochi Hand;
    color: black;
    margin: 0;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.nav {
    height: 55px;
    display: block;
    text-align: justify;
}

.nav h1 {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    margin-left: 10px;
}

.nav ul li{
    display: inline;
    float: right;
    margin-right: 15px;
    font-weight: bold;
    font-style: italic;
}

.me {
    border-radius: 150px;
    width: 5cm;
    height: 5cm;
    display: block;
    margin-left: 20px;
}

button {
    font-family: Gochi Hand;
    height: 55px;
    width: 110px;
    background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 1s;
}

button:hover {
    opacity: .80;
}

button:active {
    opacity: .50;
}

.intro {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

h2 {
    margin-left: 55px;
    margin-bottom: 0;
}

.intro p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 30%;
    text-align: justify;
    margin-right: 20px;
    border-style: solid;
    border-width: 5px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.setup {
    flex-direction: right;
    margin-left: 300px;
    margin-right: 20px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 45%;
}

.mywork {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 40px;
}

.firstpage {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.prework {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: 5px;
    margin-bottom: 20px;
    height: 540px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 1s;
    cursor: pointer;
}

.prework:hover {
    transform: scale(1.1);
}

.firstpage p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 200px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 50%;
    text-align: justify;
    margin-right: 20px;
    margin-left: 40px;
    border-style: solid;
    border-width: 5px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.secondpage {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.horiseon {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 540px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 1s;
    cursor: pointer;
}

.horiseon:hover {
    transform: scale(1.1);
}

.secondpage p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 200px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 50%;
    text-align: justify;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.thirdpage {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.youtube {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 540px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 1s;
    cursor: pointer;
}

.youtube:hover {
    transform: scale(1.1);
}

.thirdpage p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 200px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 50%;
    text-align: justify;
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 30px;
    border-style: solid;
    border-width: 5px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.gettouch {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.twitter {
    border-radius: 35px;
    margin-left: 350px;
    margin-right: 200px;
    margin-bottom: 30px;
    transition: 1s;
    cursor: pointer;
}

.instagram {
    border-radius: 35px;
    margin-left: 200px;
    margin-bottom: 30px;
    transition: 1s;
    cursor: pointer;
}

.twitter:hover {
    transform: scale(1.1);
}

.instagram:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    display: block-size: .firstpage, .secondpage, .thirdpage
}